<service>
    <type>file-share</type>
    <name>UDropCabin</name>
    <provider>com.ubuntu.developer.bobo1993324.udropcabin_account-plugin</provider>
</service>
