[Desktop Entry]
Name=UDropCabin
Comment=My project description
Exec=qmlscene $@ share/qml/UDropCabin/UDropCabin.qml
Icon=.//share/app/UDropCabin.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true


